.main {
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 450px;
  padding: 0 16px;
  text-align: center;

  ul {
    list-style: none;
  }
}

.container_links {
  composes: container;
  margin-top: 0px;
}

.blob_container {
  position: absolute;
  top: -120px;
  z-index: -1;
}

.hi {
  position: absolute;
  top: 40%;
  left: calc(50% - 57px);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 48px;
}

.info {
  margin-top: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #5f5e5e;
}
