.container {
}

.content {
  padding: 20px 0;
  height: auto;
  background-color: #fdfdfd;
}

.content_closed {
  composes: content;
}

.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}
