@import './Variables.module.scss';

.main {
  width: 100%;
  height: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
  }

  li {
    margin: 0;
    margin-bottom: 12px;

    p {
      font-size: 14px;
      margin-top: 6px;
      margin-bottom: 32px;
      // max-width: 200px;
    }
  }

  a {
    font-size: 14px;
  }
}
.feature {
  margin-bottom: 32px;

  .feature_link_title {
    display: block;
  }

  img {
    width: 100%;
  }

  p {
    // text-align: left;
    font-size: 14px;
    margin: 4px 0;
  }
}

.main_dark {
  composes: main;
  background-color: $color-background-dark;
  color: $color-grey-light;

  a {
    color: $color-light-blue;
  }

  a:visited {
    color: $color-siren;
  }
}

.top_container {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  z-index: 999;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}

.blob_container {
  position: relative;
  line-height: 0;
}

.hire_box {
  position: absolute;
  min-width: 164px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 90px);
  left: calc(50% - 90px);
}

.hi {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 14px;
}

.info {
  margin: 0px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.subtitle {
  font-size: 22px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.container_links {
  composes: container;
  max-width: 600px;
  margin-top: 0px;
}

@media screen and (max-width: 420px) {
  .info {
    font-size: 18px;
    text-align: justify;
  }
}

@media screen and (max-height: 640px), screen and (max-width: 375px) {
  .info {
    margin-top: -80px;
    font-size: 16px;
  }

  .subtitle {
    font-size: 20px;
  }
}
