@import './Variables.module.scss';

.container {
  padding-bottom: 20px;
}

.scroll_down {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 40px;
  height: 60px;
  border: none;
  background: none;
  outline: none;

  animation-name: bounce;
  animation-duration: 1.8s;
  animation-iteration-count: 3;
}

.scroll_down:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 4px solid $color-siren;
  border-width: 0px 0 4px 4px;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  transform: rotate(-45deg);
}

.hidden {
  visibility: hidden;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
